# Certificate
SSL_EMAIL=tiagoramirez.dev@pm.me

# Network
DOMAIN=tiagoramirez.lat

# Dependencies
# N8N
SUBDOMAIN_N8N=n8n
GENERIC_TIMEZONE=America/Argentina/Buenos_Aires
TZ=America/Argentina/Buenos_Aires